
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;    
    background-color: black;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#333;
}

.navigation li {
    float: right;
}

.navigation li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: all 0.5s ease;
    background-color: #333;
    color: white;
}

.navigation li a:hover {
    color: #008CBA;
    transform: scale(1.2);
}
.bt-n {
    background-color: #333;
    border-radius: 25px;
    width: 100px;
    padding: 15px;
    color: white;
    float: right;
    position: absolute;
    margin-top: 250px;
    margin-left: 600px;
    transition: all .2s ease-out;
    overflow: hidden;
}

.bt-n::after {
    content: '←   ';
    font-size: 16px;
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: all .2s ease;
}

.bt-n:hover {
    background-color:white;
    padding-left: 25px;
    color: black;
}

.bt-n:hover::after {
    left:10px;
    opacity: 1;
}

.img{
    z-index: 0;
    margin-top: 100px;
    margin-left: 50px;
    border-radius: 10px;
   
}
.img:hover {
    transition: ease-in-out .5s;
    transform: translatex(500px);

}

.text{
    position: absolute;
    z-index: -1;
    margin-top: 250px;
    margin-left: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color:white;
}.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.projects .title {
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: white; 
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
    padding-bottom: 10px;
    margin-top: 50px; 
}

.projects hr{
    color: #008CBA;
    width: 20%;
    border-width: 20px;
    }
.projects div {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.projects div img {
    width: 400px;
    height: 400px;
    border: 3px solid white;
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.projects div img:hover {
    transform: scale(1.05); 
    box-shadow:  0 0 2000px rgb(255, 255, 255);
}

.projects div p {
    margin: 0 100px;
    font-family: "Arial", sans-serif;
    font-size: 24px;
    font-weight: bold;
    color:white; 
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
}


.prj1, .prj3 {
    margin-right: 800px;
}

.prj2, .prj4 {
    margin-left: 800px;
}

.p1, .p4 {
    margin-left: 500px;
}

.p2, .p3 {
    margin-right: 500px;
}
.experience .title {
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: white; 
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
    padding-bottom: 10px;
    margin-top: 50px; 
}
.experience hr{
    color: #008CBA;
    width: 20%;
    margin-left: 570px;
    border-width: 20px;
    }
    .experience img {
        width: auto;
        height: 200px;
        border: 6px solid white;
        border-radius: 10px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
   
    
    .experience img {
        width: 200px;
        height: 200px;
        border: 0; 
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease, border-radius 0.3s ease;
        margin-left: 120px;
        margin-top: 10px;
    
    }
    
    .experience img:hover {
        transform: scale(1.05); 
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15); 
        border-radius: 15px;
    }
    .footer {
        background-color: #2c3e50; 
        color: #fff; 
        padding: 20px;
        text-align: center; 
        left: 0;
        bottom: 0;
        width: 100%;
        margin-top: 100px;
    }
    
    .footer-content {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .footer-content p {
        margin:0;
        font-size: 14px; 
    }
   
    .contact-popup {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5);
    }
    
    .contact-popup-content {
        background-color: #fefefe;
        margin: 20% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 60%;
    }
    
    .contact-popup-content h2 {
        margin-bottom: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 24px;
        font-weight: bold;
        color: #333; 
        text-transform: uppercase;
        letter-spacing: 1px;
        text-align: center;
    }
    
    .contact-popup-content form label {
        display: block;
        margin-bottom: 10px;
        font-size: 16px;
        color: #333;
    }
    
    .contact-popup-content form input[type="text"],
    .contact-popup-content form input[type="email"],
    .contact-popup-content form textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }
    
    .contact-popup-content form textarea {
        resize: vertical;
        min-height: 100px;
    }
    
    .contact-popup-content form button[type="submit"] {
        background-color: #333;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
    }
    
    .contact-popup-content form button[type="submit"]:hover {
        background-color: #008CBA;
    }
    @media screen and (max-width: 600px) {
        *{
          overflow-x: hidden;
        }
        .navigation li {
            float: none;
        }
        .img{
            z-index: 0;
            margin-top: 100px;
            margin-left: 0;
            border-radius: 10px;
            width: 100px;
            height: 100px;
           
        }
        .bt-n {
            margin-left: 0;
            margin-top: 0;
            margin-right: 150px;
            width: 30%;

            position: relative;
        }
      
        .bt-n::after {
            content: '';
            font-size: 16px;
            position: absolute;
            left: -20px;
            top: 50%;
            transform: translateY(-50%);
            opacity: 0;
            transition: all .2s ease;
        }
       
        .prj1, .prj3, .prj2, .prj4 {
            margin-right: 0;
            margin-left: 0;
        }
        .p1, .p4, .p2, .p3 {
            margin-left: 10px;
            margin-right: 10px;
            font-size: 16px;
            line-height: 1.5;
        }
 
        .experience img {
            width: 100px;
            height: 100px;
        }
 
        .projects {
            flex-direction: column;
            align-items: center;
        }
    
        .projects .title {
            font-size: 24px; /* Adjust font size for smaller screens */
            margin-top: 20px;
            width: 90%; /* Set width to fit mobile screens */
        }
    
        .projects hr {
            width: 50%; /* Adjust width of the horizontal rule for mobile screens */
        }
    
        .projects div {
            flex-direction: column;
            align-items: center;
            margin: 10px 0;
        }
    
        .projects div img {
            width: 90%; /* Adjust image size for mobile screens */
            height: auto; /* Maintain aspect ratio */
            margin: 0; /* Reset margin for mobile view */
        }
    
        .projects div p {
            font-size: 18px; /* Adjust paragraph font size for readability on mobile */
            margin: 10px; /* Adjust margin for mobile view */
            text-align: center; /* Add this line to center the text */

            padding: 0 5%; /* Add padding for text inside the projects div */
        }
    
        /* Adjust the margins for project items */
        .prj1, .prj3, .prj2, .prj4 {
            margin: 0;
        }
    
        /* Adjust the positioning for project descriptions */
        .p1, .p4, .p2, .p3 {
            margin: 0;
            padding: 0 5%;
        }
        .contact-popup {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.5);
        }
    
        .contact-popup-content {
            background-color: #fefefe;
            margin: 20% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 100%; /* Adjusted for smaller screens */
        }
    
        .contact-popup-content h2 {
            margin-bottom: 20px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 20px; /* Adjusted for smaller screens */
            font-weight: bold;
            color: #333; 
            text-transform: uppercase;
            letter-spacing: 1px;
            text-align: center;
        }
    
        .contact-popup-content form label {
            display: block;
            margin-bottom: 10px;
            font-size: 14px; /* Adjusted for smaller screens */
            color: #333;
        }
    
        .contact-popup-content form input[type="text"],
        .contact-popup-content form input[type="email"],
        .contact-popup-content form textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 14px; /* Adjusted for smaller screens */
        }
    
        .contact-popup-content form textarea {
            resize: vertical;
            min-height: 100px;
        }
    
        .contact-popup-content form button[type="submit"] {
            background-color: #333;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            font-size: 14px; /* Adjusted for smaller screens */
            cursor: pointer;
        }
    
        .contact-popup-content form button[type="submit"]:hover {
            background-color: #008CBA;
        }
        
    }
    @media screen and (min-width: 300px) and (max-width: 350px) and (min-height: 540px) and (max-height: 580px) {
    
    
        *{
          overflow-x: hidden;
        }
        .navigation li {
            float: none;
        }
       
        .bt-n {
            margin-left: 0;
            margin-top: 0;
            margin-right: 130px;
            width: 30%;

            position: relative;
        }
      
        .bt-n::after {
            content: '   d   ';
            font-size: 16px;
            position: absolute;
            left: -20px;
            top: 50%;
            transform: translateY(-50%);
            opacity: 0;
            transition: all .2s ease;
        }
       
        .prj1, .prj3, .prj2, .prj4 {
            margin-right: 0;
            margin-left: 0;
        }
        .p1, .p4, .p2, .p3 {
            margin-left: 10px;
            margin-right: 10px;
            font-size: 16px;
            line-height: 1.5;
        }
     
        .projects {
            flex-direction: column;
            align-items: center;
        }
    
        .projects .title {
            font-size: 24px; /* Adjust font size for smaller screens */
            margin-top: 20px;
            width: 90%; /* Set width to fit mobile screens */
        }
    
        .projects hr {
            width: 50%; /* Adjust width of the horizontal rule for mobile screens */
        }
    
        .projects div {
            flex-direction: column;
            align-items: center;
            margin: 10px 0;
        }
    
        .projects div img {
            width: 90%; /* Adjust image size for mobile screens */
            height: auto; /* Maintain aspect ratio */
            margin: 0; /* Reset margin for mobile view */
        }
    
        .projects div p {
            font-size: 18px; /* Adjust paragraph font size for readability on mobile */
            margin: 10px; /* Adjust margin for mobile view */
            text-align: center; /* Add this line to center the text */

            padding: 0 5%; /* Add padding for text inside the projects div */
        }
    
        /* Adjust the margins for project items */
        .prj1, .prj3, .prj2, .prj4 {
            margin: 0;
        }
    
        /* Adjust the positioning for project descriptions */
        .p1, .p4, .p2, .p3 {
            margin: 0;
            padding: 0 5%;
        }
      
        }
        
        
    